#activ_container{
    width: 90%;
    display: flex;
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    
    #tv_logo{
        border-style: dashed;
        height: 700px;
        margin-left: 20px;
        overflow-y: auto;
        width: 400px;
    }
    
}