#upload_form{
    width: 30%;
    margin-top: 2%;
    margin-left: 35%;
    input{
        text-align: center;
        height: 25;
        width: 40%;
        
    }
    
}
#video_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.video_form
{
  width:25% ;
  margin: 2%;
  video{
    width: 500px;
    height: 200px;
  }
}